@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+QLD:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box

}


.container{
    height: 145vh;
    border: 3px solid black;
    margin: 30px;
    background-color: white;
    position: relative;
    
   
    
    
}

.line {
   display: flex; 
   justify-content: center;
   

}

h1{
    margin: 15px;
   font-family: "Barlow Condensed", sans-serif;;
   font-weight: 900;
   font-size: 40px;
   color: crimson;
}


.box {
    border: 1px solid black;
    
   
     
}

.line1 {
 display: flex;
    align-items: center;
    justify-content: center;
}

.line1 ul {
   display: flex;
    gap: 20px;
    
            }

.line1 ul li {
    list-style: none;
   ;
    align-items: center;
   
             }

.line1 a {
    text-decoration: none;
    color: black;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 700;
     
      
     
    }
    .line1 a:hover {
        color: burlywood;
    }

    

  
    .football{
        margin: 400px;
        width: 70vw;
       
        
    }
     .line2{
     display: flex;
     justify-content: space-around;
     align-items: center;

     }

    
     .pp{
        display: flex;
        margin: 10px;
        gap: 20px;
        
       
        
     } 

    
       
     
     .pp img {
        position: relative;
       opacity: 0.8;
     }


    .pp ul li {
        font-size: larger;
        font-weight: 500;
        list-style-position: inside;
       
    }
  

   .pt img {
    margin-left: 150px;
    opacity: 0.7;
    filter: brightness(80px);

   }
  .pt ul {
    padding-left: 140px;
    list-style-position: inside;
  }

  .temp {
    padding: 0px 30px 2px 20px;
}
        







        
    

    ul > li > p {
        font-size: 1000px;
    }

    
           
                

    .vertical-line {
 position: absolute;
  left: 70%; 
  height: 785px; 
  width: 2px;
 background-color: black;
 
}

.small {
background-color: black;
left: 35%;
height: 386px;
width: 1.7px;
position: absolute;
display: flex;

}

.circle {
    position: absolute;
    left: 70%;
    border: 2px solid black;
    width: 370px;
    height: 300px;
    margin: 32px;
   margin-top: 45px;
}

.ktm {
    display: flex;
    justify-content: center;
    padding-left: 90px;
   
   
}

.ktm img {
    opacity: 0.7;
}

.tp {
    display: flex;
    justify-content: center;
    margin: -210px;
    padding-left: 20px;
}

h5 {
    font-size: larger;
}

.tp ul {
    list-style-position: inside;
}


.first {
  max-width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h6 {
    font-size: larger;
    padding: ;
}




 


   

    
    

    




